
.p-galleria-item-prev{
    background-color: rgb(124, 129, 124);
}

.p-galleria-item-next {
    background-color: rgb(124, 129, 124);
}

.p-link{
    background-color: darkgrey;
}
.p-highlight button {
    background-color: #2196f3;
}