.App-logo{
    width: 50px;
}

.App-logo path {
    fill: #ffffff; /* Cambia este color al que desees */
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }

#navbar{
    background-color: rgb(246, 250, 0);
}

